<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{ title }} - Alpine.js Playground Examples"
    />
    <title>{{ title }} - Alpine.js Playground Examples</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@1.x.x/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% for s in scripts %}
    <script src="{{ s.url }}"></script>
    {% endfor %}
    <style>
      [x-cloak] {
        display: none;
      }
    </style>
  </head>

  <body class="flex h-screen flex-col pt-20">
    <header
      class="flex flex-row justify-between items-center w-full p-4 border fixed top-0 left-0 z-10 bg-white h-12"
    >
      <a
        href="/"
        class="flex text-xl font-semibold text-gray-900 hover:underline"
      >
        Alpine.js Playground
      </a>
      <div class="flex flex-row">
        <a class="flex px-2 hover:underline" href="/">Examples</a>
        <a class="flex px-2 hover:underline" href="/newsletter">Newsletter</a>
      </div>
    </header>
    <div
      x-data="preview()"
      x-init="setup"
      class="flex flex-col relative w-full h-full mx-auto shadow"
    >
      <div
        class="flex flex-row justify-between bg-gray-500 px-4 items-center leading-none fixed inset-0 h-8 z-10"
        style="top: 3rem"
      >
        <h2 class="flex items-center text-white font-extrabold">{{ title }}</h2>
        <div x-cloak class="flex divide-x-2 divide-gray-600">
          <button
            class="px-2 text-white hover:underline focus:outline-none"
            @click="toggleEdit"
            x-text="isEditing ? 'save' : 'edit'"
          ></button>
          <button
            class="px-2 text-white hover:underline focus:outline-none"
            @click="stripClasses = !stripClasses"
            :class="{ 'cursor-not-allowed': isEditing }"
            :disabled="isEditing"
          >
            toggle classes
          </button>
          <button
            class="px-2 text-white hover:underline focus:outline-none"
            x-show="$refs.demo.querySelectorAll('[styles]').length > 0"
            @click="stripStyles = !stripStyles"
            :class="{ 'cursor-not-allowed': isEditing }"
            :disabled="isEditing"
          >
            toggle styles
          </button>
          <button
            class="px-2 text-white hover:underline focus:outline-none"
            @click.prevent="selectSnippet($event)"
            @copy.document.prevent="copySnippet($event)"
            :class="{ 'cursor-not-allowed': isEditing }"
            :disabled="isEditing"
          >
            copy source
          </button>
        </div>
      </div>
      <div class="flex h-full flex-col md:flex-row relative">
        <span
          class="italic text-sm absolute bottom-0 right-0 mr-2 mb-2 z-10"
          x-show.transition.opacity.duration.350ms="copied"
          x-cloak
          >Copied!</span
        >
        <div
          x-ref="demo"
          class="flex w-full md:w-1/2 items-start p-4 md:p-10 justify-center bg-gray-300 md:h-full overflow-y-scroll"
          x-cloak
        >
          {{ content | safe }}
        </div>
        <div
          class="flex w-full md:w-1/2 items-start justify-center bg-gray-200 overflow-scroll md:h-full"
        >
          <pre
            x-ref="snippet"
            class="w-full h-full font-mono p-2 md:p-4"
            :contenteditable="isEditing"
            @input="snippet = $event.target.innerHTML"
          ></pre>
        </div>
      </div>
    </div>

    <script src="/editor.js"></script>
    <div
      class="fixed inset-x-0 bottom-0 bg-blue-700 text-white text-center min-h-8 md:h-16 flex items-center justify-center font-medium"
    >
      <p>
        💥 <a href="https://alpinejshandbook.com">Subscribe</a> for Early Access
        to the
        <a class="underline" href="https://alpinejshandbook.com"
          >Alpine.js Handbook</a
        >
        📖 💥
      </p>
    </div>
  </body>
</html>
